canvas {
	border-style:dashed dashed dashed dashed;
	position: relative;
}

#layerFeild, 
#imageSelection,
#newLayerName,
#submitNewLayer {
	visibility:hidden;
}

#catalogueInterface {
	border-style:solid;
	border-color:#ff0000 #0000ff;
	width: 536;
	height: 356;
}

/*#layerFeild {
	position:absolute;
	x:0;
	y:0;
	visibility:hidden;
}*/
